{% embed 'includes/details.html.twig' with {
    summary: 'grimoire.title'|trans,
    id: 'grimoire'
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}
    <div class="pad-wrapper">
        <div class="pad pad--growable js--pad"></div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="pad-wrapper__icon"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="currentColor" d="M246.6 361.4C252.9 367.6 256 375.8 256 384s-3.125 16.38-9.375 22.62l-96 96c-12.5 12.5-32.75 12.5-45.25 0l-96-96c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L96 402.8v-293.5L54.63 150.6c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l96-96c12.5-12.5 32.75-12.5 45.25 0l96 96C252.9 111.6 256 119.8 256 128s-3.125 16.38-9.375 22.62c-12.5 12.5-32.75 12.5-45.25 0L160 109.3v293.5l41.38-41.38C213.9 348.9 234.1 348.9 246.6 361.4z"/></svg>
    </div>

    <div class="pad pad--bluffs">
        <h3 class="pad__title">{{ 'grimoire.grimoire.bluffs'|trans }}</h3>
        <div class="bluffs">
            {% for i in 1..3 %}
                <button type="button" id="bluff-{{ i }}" class="token token--bluff js--character-list--bluff" data-token="character" data-bluff-dialog="#bluff-show" disabled></button>
            {% endfor %}
        </div>
    </div>

    <ul class="button-list mt-4">
        <li><button type="button" class="button" id="add-token" data-dialog="#character-list" disabled>{{ 'grimoire.grimoire.add_token'|trans }}</button></li>
        <li><button type="button" class="button" id="add-reminder" data-dialog="#reminder-list" disabled>{{ 'grimoire.grimoire.add_reminder'|trans }}</button></li>
        <li><button type="button" class="button" id="add-traveller" data-dialog="#traveller-list" disabled>{{ 'grimoire.grimoire.add_traveller'|trans }}</button></li>
        <li><button type="button" class="button" id="show-tokens" data-dialog="#token-list" disabled>{{ 'grimoire.grimoire.show_tokens'|trans }}</button></li>
        <li><button type="button" class="button" id="reset-height">{{ 'grimoire.grimoire.reset_height'|trans }}</button></li>
        <li><button type="button" class="button button--warning" id="clear-grimoire" data-confirm="{{ 'grimoire.grimoire.clear_grimoire_warning'|trans }}">{{ 'grimoire.grimoire.clear_grimoire'|trans }}</button></li>
    </ul>

    <div class="mt-4">
        {{ forms.switch({
            node: 'div',
            label: 'grimoire.grimoire.show_night_order'|trans,
            name: 'show-night-order',
            id: 'show-night-order',
            checked: true
        }) }}
    </div>

    <div class="mt-4">
        {{ forms.range({
            label: 'grimoire.grimoire.character_size'|trans,
            name: 'token-size',
            id: 'token-size',
            output: 'token-size-output',
            min: 0.5,
            max: 2,
            step: 0.1,
            value: 1
        }) }}
    </div>
    <div class="mt-4">
        {{ forms.range({
            label: 'grimoire.grimoire.reminder_size'|trans,
            name: 'reminder-size',
            id: 'reminder-size',
            output: 'reminder-size-output',
            min: 0.5,
            max: 2,
            step: 0.1,
            value: 1
        }) }}
    </div>

    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'character-list',
    background: 'blur',
    title: 'grimoire.character_list.title'|trans
} %}
    {% block body %}
    <ul id="character-list__list" class="button-list button-list--reminder character-list"></ul>
    {% endblock %}
{% endembed %}

<template id="character-list-template">
    <li class="js--character-list--item">
        <button type="button" class="no-btn w-full js--character-list--button">
            <span class="character-list__token js--character-list--token"></span>
        </button>
    </li>
</template>

{% embed 'includes/dialog.html.twig' with {
    id: 'reminder-list',
    background: 'blur',
    title: 'grimoire.reminder_list.title'|trans
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}
    <ul id="reminder-list__list" class="button-list button-list--reminder"></ul>
    {{ forms.switch({
        node: 'p',
        classes: 'mt-4',
        label: 'grimoire.reminder_list.show'|trans,
        name: 'show',
        id: 'show-all-reminders',
        value: 'all-reminders'
    }) }}
    {% endblock %}
{% endembed %}

<template id="token-template">
    <button type="button" class="token token--movable js--token--wrapper"></button>
</template>

<template id="character-template">
    <span class="character js--character js--character--leaves">
        <span class="character__image">
            <img src="" alt="" class="character__icon js--character--image" width="177" height="124" loading="lazy">
        </span>
        <svg viewBox="0 0 150 150" class="character__text">
            <path d="M 13 75 C 13 160, 138 160, 138 75" id="curve" fill="transparent"></path>
            <text width="150" x="66.6%" text-anchor="middle" class="character__name">
                <textPath xlink:href="#curve" style="fill: currentColor;" class="js--character--name"></textPath>
            </text>
        </svg>
        <span class="character__shroud">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="character__ghost-vote"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="currentColor" d="M96 80c0-26.5 21.5-48 48-48H432c26.5 0 48 21.5 48 48V384H96V80zm313 47c-9.4-9.4-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L409 161c9.4-9.4 9.4-24.6 0-33.9zM0 336c0-26.5 21.5-48 48-48H64V416H512V288h16c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V336z"/></svg>
        </span>
        <span class="character__player-name js--character--player-name"></span>
    </span>
</template>

<template id="reminder-list-template">
    <li class="reminder-list__item js--reminder-list--item">
        <button type="button" class="no-btn js--reminder-list--button"></button>
    </li>
</template>

<template id="reminder-template">
    <span class="reminder">
        <span class="reminder__image">
            <img src="" alt="" class="reminder__icon js--reminder--image" width="177" height="124" loading="lazy">
        </span>
        <svg viewBox="0 0 150 150" class="reminder__text">
            <path d="M 13 75 C 13 -10, 138 -10, 138 75" id="curve-top" fill="transparent"></path>
            <text width="150" x="66.6%" text-anchor="middle" class="reminder__name" dominant-baseline="hanging">
                <textPath xlink:href="#curve-top" style="fill: currentColor;" class="js--reminder--name"></textPath>
            </text>
        </svg>
        <svg viewBox="0 0 150 150" class="reminder__text">
            <path d="M 13 75 C 13 160, 138 160, 138 75" id="curve-base" fill="transparent"></path>
            <text width="150" x="66.6%" text-anchor="middle" class="reminder__name">
                <textPath xlink:href="#curve-base" style="fill: currentColor;" class="js--reminder--text"></textPath>
            </text>
        </svg>
    </span>
</template>

{% embed 'includes/dialog.html.twig' with {
    id: 'character-show',
    background: 'blur'
} %}
    {% block title %}<span id="character-show-name">{{ 'grimoire.character_show.title'|trans }}</span>{% endblock %}
    {% block body %}
    <p id="character-show-ability" class="character-show__ability"></p>
    <ul class="button-list">
        <li><button type="button" class="button" id="character-show-token">{{ 'grimoire.character_show.show'|trans }}</button></li>
        <li><button type="button" class="button" id="character-shroud-toggle">{{ 'grimoire.character_show.shroud'|trans }}</button></li>
        <li><button type="button" class="button" id="character-rotate">{{ 'grimoire.character_show.rotate'|trans }}</button></li>
        <li><button type="button" class="button" id="character-reminder">{{ 'grimoire.character_show.reminder'|trans }}</button></li>
        <li><button type="button" class="button" id="character-name">{{ 'grimoire.character_show.player_name'|trans }}</button></li>
    </ul>
    <p class="mt-4"><small>{{ 'grimoire.character_show.recent_reminders'|trans }}</small></p>
    <ul id="character-show-reminders" class="button-list button-list--reminder is-show-all"></ul>
    <p class="mt-4"><button type="button" class="button button--warning" id="character-remove">{{ 'grimoire.character_show.remove'|trans }}</button></p>
    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'reminder-show',
    background: 'blur'
} %}
    {% block title %}<span id="reminder-show-name">{{ 'grimoire.reminder_show.title'|trans }}</span>{% endblock %}
    {% block body %}
    <div id="reminder-show-token" class="character-show__token"></div>
    <p class="mt-4"><button type="button" class="button button--warning" id="reminder-remove">{{ 'grimoire.reminder_show.remove'|trans }}</button></p>
    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'bluff-show',
    background: 'blur'
} %}
    {% block title %}<span id="bluff-show-name" data-no-character="{{ 'grimoire.bluff_show.empty'|trans }}">{{ 'grimoire.bluff_show.title'|trans }}</span>{% endblock %}
    {% block body %}
    <p id="bluff-show-ability" class="character-show__ability"></p>
    <ul class="button-list">
        <li><button type="button" class="button" id="bluff-show-token">{{ 'grimoire.bluff_show.show'|trans }}</button></li>
        <li><button type="button" class="button" data-dialog="#bluff-list">{{ 'grimoire.bluff_show.change'|trans }}</button></li>
    </ul>
    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'bluff-list',
    background: 'blur',
    title: 'grimoire.bluff_list.title'|trans
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}
    <ul id="character-list__bluffs" class="button-list button-list--reminder character-list mb-4"></ul>

    <ul class="no-list">
        {{ forms.switch({
            node: 'li',
            label: 'grimoire.bluff_list.show_existing'|trans,
            name: 'show',
            id: 'show-existing',
            value: 'existing'
        }) }}
        {{ forms.switch({
            node: 'li',
            label: 'grimoire.bluff_list.show_travellers'|trans,
            name: 'show',
            id: 'show-travellers',
            value: 'traveller'
        }) }}
        {{ forms.switch({
            node: 'li',
            label: 'grimoire.bluff_list.show_evil'|trans,
            name: 'show',
            id: 'show-evil',
            value: 'evil'
        }) }}
    </ul>

    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'token-list',
    background: 'blur',
    title: 'grimoire.token_list.title'|trans
} %}
    {% block body %}
        <ul id="token-list__list" class="button-list button-list--reminder"></ul>
    {% endblock %}
{% endembed %}

<template id="token-list-template">
    <li class="js--token-list--item">
        <button type="button" class="no-btn w-full js--token-list--button">
            <span class="character-list__token js--token-list--token"></span>
        </button>
    </li>
</template>

{% embed 'includes/dialog.html.twig' with {
    id: 'traveller-list',
    background: 'blur',
    title: 'grimoire.traveller_list.title'|trans
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}
        <ul id="traveller-list__list" class="filter-list button-list button-list--reminder"></ul>
        {{ forms.switch({
            node: 'p',
            classes: 'mt-4',
            label: 'grimoire.traveller_list.show_all'|trans,
            name: 'show',
            id: 'show-all-travellers',
            attributes: {
                'data-filter-list': '#traveller-list__list'
            }
        }) }}
    {% endblock %}
{% endembed %}


{% embed 'includes/dialog.html.twig' with {
    id: 'token',
    background: 'hide',
    hideClickBackground: false
} %}
    {% block title %}<span id="token-name">{{ 'grimoire.token.title'|trans }}</span>{% endblock %}
    {% block body %}
        <div id="token-show"></div>
        <p id="token-ability" class="character-show__ability mt-4"></p>
    {% endblock %}
{% endembed %}
