{% embed '../includes/details.twig' with {
    summary: 'Grimoire',
    id: 'grimoire'
} %}
    {% block body %}
    <div class="pad-wrapper">
        <div class="pad pad--growable js--pad"></div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="pad-wrapper__icon"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="currentColor" d="M246.6 361.4C252.9 367.6 256 375.8 256 384s-3.125 16.38-9.375 22.62l-96 96c-12.5 12.5-32.75 12.5-45.25 0l-96-96c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L96 402.8v-293.5L54.63 150.6c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l96-96c12.5-12.5 32.75-12.5 45.25 0l96 96C252.9 111.6 256 119.8 256 128s-3.125 16.38-9.375 22.62c-12.5 12.5-32.75 12.5-45.25 0L160 109.3v293.5l41.38-41.38C213.9 348.9 234.1 348.9 246.6 361.4z"/></svg>
    </div>

    <div class="pad pad--bluffs">
        <h3 class="pad__title">Demon Bluffs</h3>
        <div class="bluffs">
            {% for i in 1..3 %}
                <button type="button" id="bluff-{{ i }}" class="token token--bluff js--character-list--bluff" data-token="character" data-bluff-dialog="#bluff-show" disabled></button>
            {% endfor %}
        </div>
    </div>

    <ul class="button-list mt-4">
        <li><button type="button" class="button" id="add-token" data-dialog="#character-list" disabled>Add token</button></li>
        <li><button type="button" class="button" id="add-reminder" data-dialog="#reminder-list" disabled>Add reminder</button></li>
        <li><button type="button" class="button" id="add-traveller" data-dialog="#traveller-list" disabled>Add traveller</button></li>
        <li><button type="button" class="button" id="show-tokens" data-dialog="#token-list" disabled>Show tokens</button></li>
        <li><button type="button" class="button" id="reset-height">Reset pad height</button></li>
        <li><button type="button" class="button button--warning" id="clear-grimoire" data-confirm="Are you sure you want to clear all the tokens?">Clear Grimoire</button></li>
    </ul>

    <div class="mt-4">
        <div class="switch">
            <div class="switch__input">
                {{ forms.toggle({
                    name: 'show-night-order',
                    id: 'show-night-order',
                    checked: true
                }) }}
            </div>
            <label for="show-night-order" class="switch__label">Show night order</label>
        </div>
    </div>

    {% endblock %}
{% endembed %}

{% embed '../includes/dialog.twig' with {
    id: 'character-list',
    background: 'blur',
    title: 'Select Character'
} %}
    {% block body %}
    <ul id="character-list__list" class="button-list button-list--reminder character-list"></ul>
    {% endblock %}
{% endembed %}

<template id="character-list-template">
    <li class="js--character-list--item">
        <button type="button" class="no-btn w-full js--character-list--button">
            <span class="character-list__token js--character-list--token"></span>
        </button>
    </li>
</template>

{% embed '../includes/dialog.twig' with {
    id: 'reminder-list',
    background: 'blur',
    title: 'Select Reminder'
} %}
    {% block body %}
    <ul id="reminder-list__list" class="button-list button-list--reminder"></ul>
    <p class="switch mt-4">
        <span class="switch__input">
            {{ forms.toggle({
                name: 'show',
                id: 'show-all-reminders',
                value: 'all-reminders'
            }) }}
        </span>
        <label for="show-all-reminders" class="switch__label">Show all reminders</label>
    </p>
    {% endblock %}
{% endembed %}

<template id="token-template">
    <button type="button" class="token token--movable js--token--wrapper"></button>
</template>

<template id="character-template">
    <span class="character js--character js--character--leaves">
        <span class="character__image">
            <img src="" alt="" class="character__icon js--character--image" width="177" height="124" loading="lazy">
        </span>
        <svg viewBox="0 0 150 150" class="character__text">
            <path d="M 13 75 C 13 160, 138 160, 138 75" id="curve" fill="transparent"></path>
            <text width="150" x="66.6%" text-anchor="middle" class="character__name">
                <textPath xlink:href="#curve" style="fill: currentColor;" class="js--character--name"></textPath>
            </text>
        </svg>
        <span class="character__shroud"></span>
    </span>
</template>

<template id="reminder-list-template">
    <li class="reminder-list__item js--reminder-list--item">
        <button type="button" class="no-btn js--reminder-list--button"></button>
    </li>
</template>

<template id="reminder-template">
    <span class="reminder">
        <span class="reminder__image">
            <img src="" alt="" class="reminder__icon js--reminder--image" width="177" height="124" loading="lazy">
        </span>
        <svg viewBox="0 0 150 150" class="reminder__text">
            <path d="M 13 75 C 13 -10, 138 -10, 138 75" id="curve-top" fill="transparent"></path>
            <text width="150" x="66.6%" text-anchor="middle" class="reminder__name" dominant-baseline="hanging">
                <textPath xlink:href="#curve-top" style="fill: currentColor;" class="js--reminder--name"></textPath>
            </text>
        </svg>
        <svg viewBox="0 0 150 150" class="reminder__text">
            <path d="M 13 75 C 13 160, 138 160, 138 75" id="curve-base" fill="transparent"></path>
            <text width="150" x="66.6%" text-anchor="middle" class="reminder__name">
                <textPath xlink:href="#curve-base" style="fill: currentColor;" class="js--reminder--text"></textPath>
            </text>
        </svg>
    </span>
</template>

{% embed '../includes/dialog.twig' with {
    id: 'character-show',
    background: 'blur'
} %}
    {% block title %}<span id="character-show-name">Token</span>{% endblock %}
    {% block body %}
    <p id="character-show-ability" class="character-show__ability"></p>
    <ul class="button-list">
        <li><button type="button" class="button" id="character-show-token">Show</button></li>
        <li><button type="button" class="button" id="character-shroud-toggle">Shroud</button></li>
        <li><button type="button" class="button" id="character-rotate">Rotate</button></li>
        <li><button type="button" class="button" id="character-reminder">Reminder</button></li>
    </ul>
    <p class="mt-4"><small>Most recently added reminders:</small></p>
    <ul id="character-show-reminders" class="button-list button-list--reminder is-show-all"></ul>
    <p class="mt-4"><button type="button" class="button button--warning" id="character-remove">Remove token</button></p>
    {% endblock %}
{% endembed %}

{% embed '../includes/dialog.twig' with {
    id: 'reminder-show',
    background: 'blur'
} %}
    {% block title %}<span id="reminder-show-name">Reminder</span>{% endblock %}
    {% block body %}
    <div id="reminder-show-token" class="character-show__token"></div>
    <p class="mt-4"><button type="button" class="button button--warning" id="reminder-remove">Remove</button></p>
    {% endblock %}
{% endembed %}

{% embed '../includes/dialog.twig' with {
    id: 'bluff-show',
    background: 'blur'
} %}
    {% block title %}<span id="bluff-show-name" data-no-character="Empty">Token</span>{% endblock %}
    {% block body %}
    <p id="bluff-show-ability" class="character-show__ability"></p>
    <ul class="button-list">
        <li><button type="button" class="button" id="bluff-show-token">Show</button></li>
        <li><button type="button" class="button" data-dialog="#bluff-list">Change</button></li>
    </ul>
    {% endblock %}
{% endembed %}

{% embed '../includes/dialog.twig' with {
    id: 'bluff-list',
    background: 'blur',
    title: 'Select Bluff'
} %}
    {% block body %}
    <ul id="character-list__bluffs" class="button-list button-list--reminder character-list mb-4"></ul>

    <ul class="no-list">
        <li class="switch">
            <div class="switch__input">
                {{ forms.toggle({
                    name: 'show',
                    id: 'show-existing',
                    value: 'existing'
                }) }}
            </div>
            <label for="show-existing" class="switch__label">Show existing characters</label>
        </li>
        <li class="switch">
            <div class="switch__input">
                {{ forms.toggle({
                    name: 'show',
                    id: 'show-travellers',
                    value: 'traveller'
                }) }}
            </div>
            <label for="show-travellers" class="switch__label">Show travellers</label>
        </li>
        <li class="switch">
            <div class="switch__input">
                {{ forms.toggle({
                    name: 'show',
                    id: 'show-evil',
                    value: 'evil'
                }) }}
            </div>
            <label for="show-evil" class="switch__label">Show evil characters</label>
        </li>
    </ul>

    {% endblock %}
{% endembed %}

{% embed '../includes/dialog.twig' with {
    id: 'token-list',
    background: 'blur',
    title: 'Characters'
} %}
    {% block body %}
        <ul id="token-list__list" class="button-list button-list--reminder"></ul>
    {% endblock %}
{% endembed %}

<template id="token-list-template">
    <li class="js--token-list--item">
        <button type="button" class="no-btn w-full js--token-list--button">
            <span class="character-list__token js--token-list--token"></span>
        </button>
    </li>
</template>

{% embed '../includes/dialog.twig' with {
    id: 'traveller-list',
    background: 'blur',
    title: 'Travellers'
} %}
    {% block body %}
        <ul id="traveller-list__list" class="filter-list button-list button-list--reminder"></ul>
        <p class="switch mt-4">
            <span class="switch__input">
                {{ forms.toggle({
                    name: 'show',
                    id: 'show-all-travellers',
                    attributes: {
                        'data-filter-list': '#traveller-list__list'
                    }
                }) }}
            </span>
            <label for="show-all-travellers" class="switch__label">Show all travellers</label>
        </p>
    {% endblock %}
{% endembed %}


{% embed '../includes/dialog.twig' with {
    id: 'token',
    background: 'hide',
    hideClickBackground: false
} %}
    {% block title %}<span id="token-name">Token</span>{% endblock %}
    {% block body %}
        <div id="token-show"></div>
        <p id="token-ability" class="character-show__ability mt-4"></p>
    {% endblock %}
{% endembed %}
