<div hidden>
    <div id="good-team">{{ 'messages.good_team'|trans }}</div>
    <div id="evil-team">{{ 'messages.evil_team'|trans }}</div>
    <div id="empty-character-ability">{{ 'messages.empty_character_ability'|trans }}</div>
    <div id="version-change-message">{{ 'messages.version_change_message'|trans }}</div>
    <div id="invalid-script">{{ 'messages.invalid_script'|trans }}</div>
    <div id="no-characters">{{ 'messages.no_characters'|trans }}</div>
</div>
