{% embed 'includes/details.html.twig' with {
    open: true,
    summary: 'setup.title'|trans,
    id: 'setup'
} %}
    {% block body %}
    <ul class="button-list">
        <li><button type="button" class="button" id="select-edition" data-dialog="#edition-list">{{ 'setup.buttons.select_edition'|trans }}</button></li>
        <li><button type="button" class="button" id="select-characters" data-dialog="#character-select" disabled>{{ 'setup.buttons.select_characters'|trans }}</button></li>
        <li><button type="button" class="button" id="qr-code-button" data-dialog="#qr-code-dialog" disabled>{{ 'setup.buttons.qr_code_button'|trans }}</button></li>
        <li><button type="button" class="button" id="clear-cache-button" data-dialog="#clear-cache">{{ 'setup.buttons.clear_cache_button'|trans }}</button></li>
    </ul>
    <form id="locale-form" class="locale-form locale-form--setup">
        <label for="select-locale" class="locale-form__label">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-labelledby="globe-icon" class="locale-form__label-icon"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><title id="globe-icon">{{ 'setup.buttons.language'|trans }}</title><path style="fill: currentColor;" d="M352 256C352 278.2 350.8 299.6 348.7 320H163.3C161.2 299.6 159.1 278.2 159.1 256C159.1 233.8 161.2 212.4 163.3 192H348.7C350.8 212.4 352 233.8 352 256zM503.9 192C509.2 212.5 512 233.9 512 256C512 278.1 509.2 299.5 503.9 320H380.8C382.9 299.4 384 277.1 384 256C384 234 382.9 212.6 380.8 192H503.9zM493.4 160H376.7C366.7 96.14 346.9 42.62 321.4 8.442C399.8 29.09 463.4 85.94 493.4 160zM344.3 160H167.7C173.8 123.6 183.2 91.38 194.7 65.35C205.2 41.74 216.9 24.61 228.2 13.81C239.4 3.178 248.7 0 256 0C263.3 0 272.6 3.178 283.8 13.81C295.1 24.61 306.8 41.74 317.3 65.35C328.8 91.38 338.2 123.6 344.3 160H344.3zM18.61 160C48.59 85.94 112.2 29.09 190.6 8.442C165.1 42.62 145.3 96.14 135.3 160H18.61zM131.2 192C129.1 212.6 127.1 234 127.1 256C127.1 277.1 129.1 299.4 131.2 320H8.065C2.8 299.5 0 278.1 0 256C0 233.9 2.8 212.5 8.065 192H131.2zM194.7 446.6C183.2 420.6 173.8 388.4 167.7 352H344.3C338.2 388.4 328.8 420.6 317.3 446.6C306.8 470.3 295.1 487.4 283.8 498.2C272.6 508.8 263.3 512 255.1 512C248.7 512 239.4 508.8 228.2 498.2C216.9 487.4 205.2 470.3 194.7 446.6H194.7zM190.6 503.6C112.2 482.9 48.59 426.1 18.61 352H135.3C145.3 415.9 165.1 469.4 190.6 503.6V503.6zM321.4 503.6C346.9 469.4 366.7 415.9 376.7 352H493.4C463.4 426.1 399.8 482.9 321.4 503.6V503.6z"/></svg>
        </label>
        <select name="select-locale" id="select-locale" class="locale-form__dropdown" data-no-store>
            {% for locale in locales() %}
                <option value="{{ path('index', { '_locale': locale[0] }) }}" lang="{{ locale[0]|replace({ '_': '-' }) }}" {{ app.request.locale == locale[0] ? 'selected' }}>{{ locale[1] }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="button locale-form__action">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-labelledby="tick-icon" class="locale-form__icon"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><title id="tick-icon">{{ 'setup.buttons.set_language'|trans }}</title><path style="fill: currentColor;" d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"/></svg>
        </button>
    </form>
    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'edition-list',
    background: 'blur',
    title: 'setup.editions.title'|trans
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}

    <form id="select-edition-form">

        <ul class="no-list mb-4">
            <li>
                <label for="edition-tb">
                    <input type="radio" name="edition" value="tb" id="edition-tb" required>
                    {{ 'setup.editions.trouble_brewing'|trans }}
                </label>
            </li>
            <li>
                <label for="edition-bmr">
                    <input type="radio" name="edition" value="bmr" id="edition-bmr">
                    {{ 'setup.editions.bad_moon_rising'|trans }}
                </label>
            </li>
            <li>
                <label for="edition-snv">
                    <input type="radio" name="edition" value="snv" id="edition-snv">
                    {{ 'setup.editions.sects_and_violets'|trans }}
                </label>
            </li>
            <li>
                <label for="edition-custom">
                    <input type="radio" name="edition" value="custom" id="edition-custom">
                    {{ 'setup.editions.custom_script'|trans }}
                </label>
            </li>
        </ul>

        <div id="custom-script" class="mb-4" hidden>
            <p>{{ 'setup.editions.custom_note'|trans }} <strong>{{ 'setup.editions.custom_warning'|trans }}</strong></p>
            <p>
                <label for="custom-script-upload">{{ 'setup.editions.upload'|trans }}</label>
                {{ forms.file({
                    name: "custom-script-upload",
                    id: "custom-script-upload",
                    accept: "application/json"
                }) }}
            </p>
            <p>
                <label for="custom-script-url">{{ 'setup.editions.url'|trans }}</label>
                <input type="url" name="custom-script-url" id="custom-script-url" class="input" placeholder="https://www.example.com/script.json" data-no-store>
            </p>
            <p><small>{{ 'setup.editions.unsupported'|trans }}</small></p>
        </div>

        <p><button type="submit" class="button">{{ 'setup.editions.select'|trans }}</button></p>

    </form>
    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'character-select',
    background: 'blur',
    title: 'setup.character_select.title'|trans
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}
    <form id="player-select">

        <div class="character-select__players">
            <label for="player-count" class="character-select__label">{{ 'setup.character_select.number_players'|trans }}</label>
            <input type="range" min="5" max="15" step="1" value="7" name="player-count" id="player-count" class="character-select__range">
            <output id="player-count-output" class="character-select__output">7</output>
        </div>

        <div class="mb-4 switch">
            <div class="switch__input">
                {{ forms.toggle({
                    name: 'toggle-abilities',
                    id: 'toggle-abilities',
                    checked: true
                }) }}
            </div>
            <label for="toggle-abilities" class="switch__label">{{ 'setup.character_select.toggle_abilities'|trans }}</label>
        </div>
        <div class="mb-4 switch">
            <div class="switch__input">
                {{ forms.toggle({
                    name: 'toggle-duplicates',
                    id: 'toggle-duplicates'
                }) }}
            </div>
            <label for="toggle-duplicates" class="switch__label">{{ 'setup.character_select.toggle_duplicates'|trans }}</label>
        </div>

        <p><button type="button" class="button" id="player-select-random">{{ 'setup.character_select.highlight_random'|trans }}</button></p>

        {% set teams = {
            townsfolk: 'groups.townsfolk'|trans,
            outsider: 'groups.outsider'|trans,
            minion: 'groups.minion'|trans,
            demon: 'groups.demon'|trans,
            traveller: 'groups.traveller'|trans
        } %}
        {% for team, name in teams %}
        <fieldset class="sidebar character-select__group is-hide-duplicates" data-team="{{ team }}">
            <legend class="sr-only">{{ name }}</legend>
            <div class="sidebar__side character-select__score">
                <div class="sidebar__side-content character-select__heading">
                    <div class="character-select__title" aria-hidden="true">{{ name }}</div>
                    <div class="character-select__score-box">
                        <span class="js--character-select--count">0</span>-<span class="js--character-select--total">X</span>
                    </div>
                </div>
            </div>
            <div class="sidebar__body">
                <div class="character-select__characters js--character-select--list"></div>
            </div>
        </fieldset>
        {% endfor %}

        <button type="submit" class="button">{{ 'setup.character_select.draw_characters'|trans }}</button>

    </form>
    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'character-choice',
    background: 'hide',
    title: 'setup.character_choice.title'|trans,
    hideClickBackground: false
} %}
    {% block body %}
    <p>{{ 'setup.character_choice.description'|trans }}</p>
    <div id="character-choice-wrapper" class="slot slot--3">
    </div>
    {% endblock %}
{% endembed %}

<template id="character-choice-template">
    <div>
        <button type="button" data-id="" class="character-choice">
            <span class="character">
                <span class="character__unknown js--character-choice--number"></span>
            </span>
        </button>
    </div>
</template>

{% embed 'includes/dialog.html.twig' with {
    id: 'character-decision',
    background: 'hide',
    hideClickBackground: false,
    title: 'setup.character_decision.title'|trans
} %}
    {% block body %}
    <div id="character-decision-wrapper" class="mb-4"></div>
    <p id="character-decision-ability"></p>
    <p><button type="button" class="button" data-dialog-hide>{{ 'setup.character_decision.return'|trans }}</button></p>
    {% endblock %}
{% endembed %}

<template id="character-select-template">
    <div class="character-select__character js--character-select">
        <div class="character-select__duplicate js--character-select--duplicate-wrapper">
            <button type="button" class="character-select__button character-select__button--prev" data-quantity-amount="-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="character-select__icon"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="currentColor" d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM168 232C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H168z"/></svg>
            </button>
            <input type="number" step="1" min="0" value="0" name="count-" tabindex="-1" class="character-select__count js--character-select--count" readonly>
            <button type="button" class="character-select__button character-select__button--next" data-quantity-amount="1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="character-select__icon"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="currentColor" d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368z"/></svg>
            </button>
        </div>
        <label class="js--character-select--label" for="">
            <input type="checkbox" name="character" value="" class="sr-only character-select__input js--character-select--input">
            <img src="" alt="" width="177" height="124" aria-hidden="true" class="character-select__part character-select__part--image js--character-select--image" loading="lazy">
            <span class="character-select__part character-select__part--name js--character-select--name"></span>
            <span class="character-select__part character-select__part--ability js--character-select--ability"></span>
        </label>
    </div>
</template>

{% embed 'includes/dialog.html.twig' with {
    id: 'qr-code-dialog',
    background: 'hide',
    title: 'setup.qr_code.title'|trans
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}
        <p>{{ 'setup.qr_code.intro'|trans }}</p>
        <a href="{{ path('sheet') }}" target="_blank" rel="noopener noreferrer" id="qr-code-link" disabled>
            <span id="qr-code" class="qr"></span>
        </a>

        <p class="mt-4" id="include-groups">{{ 'setup.qr_code.include'|trans }}</p>
        <div class="slot slot--2">
            <div class="switch">
                <div class="switch__input">
                    {{ forms.toggle({
                        name: 'include-travellers',
                        id: 'include-travellers',
                        checked: true,
                        attributes: {
                            'aria-describedby': 'include-groups'
                        }
                    }) }}
                </div>
                <label for="include-travellers" class="switch__label">{{ 'setup.qr_code.travellers'|trans }}</label>
            </div>
            <div class="switch">
                <div class="switch__input">
                    {{ forms.toggle({
                        name: 'include-fabled',
                        id: 'include-fabled',
                        checked: true,
                        attributes: {
                            'aria-describedby': 'include-groups'
                        }
                    }) }}
                </div>
                <label for="include-fabled" class="switch__label">{{ 'setup.qr_code.fabled'|trans }}</label>
            </div>
        </div>
    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'clear-cache',
    background: 'blur',
    title: 'setup.clear_cache.title'|trans
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}
        <form id="cache-form">

            <p>
                <span class="switch">
                    <span class="switch__input">
                        {{ forms.toggle({
                            name: 'clear-all',
                            id: 'clear-all',
                            checked: true
                        }) }}
                    </span>
                    <label for="clear-all" class="switch__label">{{ 'setup.clear_cache.clear_all'|trans }}</label>
                </span>
                <small class="d-block">{{ 'setup.clear_cache.clear_description'|trans }}</small>
            </p>

            <ul id="clear-individual" class="no-list mb-4 p-2 bd-dark" hidden>
                {% set clears = [
                    {
                        value: 'lookup',
                        label: 'setup.clear_cache.lookup_label'|trans,
                        note: 'setup.clear_cache.lookup_note'|trans
                    },
                    {
                        value: 'characters',
                        label: 'setup.clear_cache.characters_label'|trans,
                        note: 'setup.clear_cache.characters_note'|trans
                    },
                    {
                        value: 'tokens',
                        label: 'setup.clear_cache.tokens_label'|trans,
                        note: 'setup.clear_cache.tokens_note'|trans
                    },
                    {
                        value: 'inputs',
                        label: 'setup.clear_cache.inputs_label'|trans,
                        note: 'setup.clear_cache.inputs_note'|trans
                    },
                    {
                        value: 'details',
                        label: 'setup.clear_cache.details_label'|trans,
                        note: 'setup.clear_cache.details_note'|trans
                    },
                    {
                        value: 'height',
                        label: 'setup.clear_cache.height_label'|trans,
                        note: 'setup.clear_cache.height_note'|trans
                    },
                ] %}
                {% for clear in clears %}
                    <li>
                        <div class="switch">
                            <div class="switch__input">
                                {{ forms.toggle({
                                    name: 'clear',
                                    id: 'clear-' ~ clear.value,
                                    value: clear.value,
                                    checked: true
                                }) }}
                            </div>
                            <label for="clear-{{ clear.value }}" class="switch__label">{{ clear.label }}</label>
                        </div>
                        <small class="d-block">{{ clear.note }}</small>
                    </li>
                {% endfor %}
            </ul>

            <p>
                <span class="switch">
                    <span class="switch__input">
                        {{ forms.toggle({
                            name: 'clear-refresh',
                            id: 'clear-refresh',
                            checked: true
                        }) }}
                    </span>
                    <label for="clear-refresh" class="switch__label">{{ 'setup.clear_cache.clear_refresh_label'|trans }}</label>
                </span>
                <small class="d-block">{{ 'setup.clear_cache.clear_refresh_note'|trans }}</small>
            </p>

            <p id="token-warning"><small>{{ 'setup.clear_cache.warning'|trans|raw }}</small></p>
            <p><button type="submit" class="button">{{ 'setup.clear_cache.clear_cache'|trans }}</button></p>

        </form>
    {% endblock %}
{% endembed %}
