{% embed 'includes/details.html.twig' with {
    open: true,
    summary: 'setup.title'|trans,
    id: 'setup'
} %}
    {% block body %}
    <ul class="button-list">
        <li><button type="button" class="button button--full-height" id="select-edition" data-dialog="#edition-list">{{ 'setup.buttons.select_edition'|trans }}</button></li>
        <li><button type="button" class="button button--full-height" id="select-characters" data-dialog="#character-select" disabled>{{ 'setup.buttons.select_characters'|trans }}</button></li>
        <li><button type="button" class="button button--full-height" id="qr-code-button" data-dialog="#qr-code-dialog" disabled>{{ 'setup.buttons.qr_code_button'|trans }}</button></li>
        <li><button type="button" class="button button--full-height" id="clear-cache-button" data-dialog="#clear-cache">{{ 'setup.buttons.clear_cache_button'|trans }}</button></li>
    </ul>
    <form id="locale-form" class="locale-form locale-form--setup">
        <label for="select-locale" class="locale-form__label">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" aria-labelledby="language-icon" class="locale-form__label-icon"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><title id="language-icon">{{ 'setup.buttons.language'|trans }}</title><path style="fill: currentColor;" d="M0 128C0 92.7 28.7 64 64 64H256h48 16H576c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H320 304 256 64c-35.3 0-64-28.7-64-64V128zm320 0V384H576V128H320zM178.3 175.9c-3.2-7.2-10.4-11.9-18.3-11.9s-15.1 4.7-18.3 11.9l-64 144c-4.5 10.1 .1 21.9 10.2 26.4s21.9-.1 26.4-10.2l8.9-20.1h73.6l8.9 20.1c4.5 10.1 16.3 14.6 26.4 10.2s14.6-16.3 10.2-26.4l-64-144zM160 233.2L179 276H141l19-42.8zM448 164c11 0 20 9 20 20v4h44 16c11 0 20 9 20 20s-9 20-20 20h-2l-1.6 4.5c-8.9 24.4-22.4 46.6-39.6 65.4c.9 .6 1.8 1.1 2.7 1.6l18.9 11.3c9.5 5.7 12.5 18 6.9 27.4s-18 12.5-27.4 6.9l-18.9-11.3c-4.5-2.7-8.8-5.5-13.1-8.5c-10.6 7.5-21.9 14-34 19.4l-3.6 1.6c-10.1 4.5-21.9-.1-26.4-10.2s.1-21.9 10.2-26.4l3.6-1.6c6.4-2.9 12.6-6.1 18.5-9.8l-12.2-12.2c-7.8-7.8-7.8-20.5 0-28.3s20.5-7.8 28.3 0l14.6 14.6 .5 .5c12.4-13.1 22.5-28.3 29.8-45H448 376c-11 0-20-9-20-20s9-20 20-20h52v-4c0-11 9-20 20-20z"/></svg>
        </label>
        <select name="select-locale" id="select-locale" class="input locale-form__dropdown" data-no-store>
            {% for locale in locales() %}
                <option value="{{ path('index', { '_locale': locale[0] }) }}" lang="{{ locale[0]|replace({ '_': '-' }) }}" dir="{{ locale[0] in ['he_IL'] ? 'rtl' : 'ltr' }}" {{ app.request.locale == locale[0] ? 'selected' }}>{{ locale[1] }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="button locale-form__action">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-labelledby="tick-icon" class="locale-form__icon"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><title id="tick-icon">{{ 'setup.buttons.set_language'|trans }}</title><path style="fill: currentColor;" d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"/></svg>
        </button>
    </form>
    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'edition-list',
    background: 'blur',
    title: 'setup.editions.title'|trans
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}

    <form id="select-edition-form" enctype="multipart/form-data">

        <ul class="no-list mb-4">
            <li>
                {{ forms.radio({
                    name: 'edition',
                    value: 'tb',
                    label: 'setup.editions.trouble_brewing'|trans,
                    required: true
                }) }}
            </li>
            <li>
                {{ forms.radio({
                    name: 'edition',
                    value: 'bmr',
                    label: 'setup.editions.bad_moon_rising'|trans
                }) }}
            </li>
            <li>
                {{ forms.radio({
                    name: 'edition',
                    value: 'snv',
                    label: 'setup.editions.sects_and_violets'|trans
                }) }}
            </li>
            <li>
                {{ forms.radio({
                    name: 'edition',
                    value: 'custom',
                    label: 'setup.editions.custom_script'|trans
                }) }}
            </li>
        </ul>

        <div id="custom-script" class="mb-4" hidden>
            <p>{{ 'setup.editions.custom_note'|trans }} <strong>{{ 'setup.editions.custom_warning'|trans }}</strong></p>
            <p>
                <label for="custom-script-upload">{{ 'setup.editions.upload'|trans }}</label>
                {{ forms.file({
                    name: "custom-script-upload",
                    id: "custom-script-upload",
                    accept: "application/json"
                }) }}
            </p>
            <p>
                <label for="custom-script-url">{{ 'setup.editions.url'|trans }}</label>
                <input type="url" name="custom-script-url" id="custom-script-url" class="input" placeholder="https://www.example.com/script.json" data-no-store>
            </p>
        </div>

        <p>
            <button type="submit" class="button">
                <span class="button__text">{{ 'setup.editions.select'|trans }}</span>
                <span class="button__loader" role="progressbar" aria-valuetext="Loading" aria-busy="false" aria-live="assertive" aria-valuemin="0" aria-valuemax="1">
                    <span class="loader" aria-hidden="true"></span>
                </span>
            </button>
        </p>

    </form>
    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'character-select',
    background: 'blur',
    title: 'setup.character_select.title'|trans
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}
    <form id="player-select">

        {{ forms.range({
            classes: 'mb-4',
            label: 'setup.character_select.number_players'|trans,
            name: 'player-count',
            id: 'player-count',
            output: 'player-count-output',
            min: 5,
            max: 15,
            step: 1,
            value: 7
        }) }}

        {{ forms.switch({
            node: 'div',
            classes: 'mb-4',
            label: 'setup.character_select.toggle_abilities'|trans,
            name: 'toggle-abilities',
            id: 'toggle-abilities',
            checked: true
        }) }}

        {{ forms.switch({
            node: 'div',
            classes: 'mb-4',
            label: 'setup.character_select.toggle_duplicates'|trans,
            name: 'toggle-duplicates',
            id: 'toggle-duplicates',
            checked: false
        }) }}

        <p><button type="button" class="button" id="player-select-random">{{ 'setup.character_select.highlight_random'|trans }}</button></p>

        {% set teams = {
            townsfolk: 'groups.townsfolk'|trans,
            outsider: 'groups.outsider'|trans,
            minion: 'groups.minion'|trans,
            demon: 'groups.demon'|trans,
            traveller: 'groups.traveller'|trans
        } %}
        {% for team, name in teams %}
        <fieldset class="sidebar character-select__group is-hide-duplicates" data-team="{{ team }}">
            <legend class="sr-only">{{ name }}</legend>
            <div class="sidebar__side character-select__score">
                <div class="sidebar__side-content character-select__heading">
                    <div class="character-select__title" aria-hidden="true">{{ name }}</div>
                    <div class="character-select__score-box">
                        <span class="js--character-select--count">0</span>
                        <span class="character-select__score-seperator" data-vertical="-" data-horizontal="|"></span>
                        <span class="js--character-select--total">X</span>
                    </div>
                </div>
            </div>
            <div class="sidebar__body">
                <div class="character-select__characters js--character-select--list"></div>
            </div>
        </fieldset>
        {% endfor %}

        <p>
            <label for="token-layout">{{ 'setup.character_select.layout'|trans }}</label>
            <select name="token-layout" id="token-layout" class="input">
                <option value="ellipse">{{ 'setup.character_select.ellipse'|trans }}</option>
                <option value="diagonal">{{ 'setup.character_select.diagonal'|trans }}</option>
                <option value="horizontal">{{ 'setup.character_select.horizontal'|trans }}</option>
                <option value="vertical">{{ 'setup.character_select.vertical'|trans }}</option>
            </select>
        </p>

        <ul class="button-list">
            <li><button type="submit" class="button button--full-height">{{ 'setup.character_select.draw_characters'|trans }}</button></li>
            <li><button type="submit" class="button button--full-height" id="player-select-all">{{ 'setup.character_select.add_all'|trans }}</button></li>
        </ul>

    </form>
    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'character-choice',
    background: 'hide',
    title: 'setup.character_choice.title'|trans,
    hideClickBackground: false
} %}
    {% block body %}
    <p>{{ 'setup.character_choice.description'|trans }}</p>
    <div id="character-choice-wrapper" class="slot slot--3">
    </div>
    {% endblock %}
{% endembed %}

<template id="character-choice-template">
    <div>
        <button type="button" data-id="" class="character-choice">
            <span class="character">
                <span class="character__unknown js--character-choice--number"></span>
            </span>
        </button>
    </div>
</template>

{% embed 'includes/dialog.html.twig' with {
    id: 'character-decision',
    background: 'hide',
    hideClickBackground: false,
    title: 'setup.character_decision.title'|trans
} %}
    {% block body %}
    <div id="character-decision-wrapper" class="mb-4"></div>
    <p id="character-decision-ability"></p>
    <p>
        <label for="player-name" class="d-block text-small">{{ 'setup.character_decision.name'|trans }}</label>
        <input type="text" class="input" name="player-name" id="player-name" list="player-name-options">
    </p>
    <datalist id="player-name-options"></datalist>
    <p><button type="button" class="button" data-dialog-hide>{{ 'setup.character_decision.return'|trans }}</button></p>
    {% endblock %}
{% endembed %}

<template id="character-select-template">
    <div class="character-select__character js--character-select">
        <div class="character-select__duplicate js--character-select--duplicate-wrapper">
            <button type="button" class="character-select__button character-select__button--prev" data-quantity-amount="-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="character-select__icon"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="currentColor" d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM168 232C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H168z"/></svg>
            </button>
            <input type="number" step="1" min="0" value="0" name="count-" tabindex="-1" class="character-select__count js--character-select--count" readonly>
            <button type="button" class="character-select__button character-select__button--next" data-quantity-amount="1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="character-select__icon"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="currentColor" d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368z"/></svg>
            </button>
        </div>
        <label class="js--character-select--label" for="">
            <input type="checkbox" name="character" value="" class="sr-only character-select__input js--character-select--input">
            <img src="" alt="" width="177" height="124" aria-hidden="true" class="character-select__part character-select__part--image js--character-select--image" loading="lazy">
            <span class="character-select__part character-select__part--name js--character-select--name"></span>
            <span class="character-select__part character-select__part--ability js--character-select--ability"></span>
        </label>
    </div>
</template>

<template id="player-name-template">
    <option class="js--player-name--option">
</template>

{% embed 'includes/dialog.html.twig' with {
    id: 'qr-code-dialog',
    background: 'hide',
    title: 'setup.qr_code.title'|trans
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}
        <p>{{ 'setup.qr_code.intro'|trans }}</p>
        <a href="{{ path('sheet') }}" target="_blank" rel="noopener noreferrer" id="qr-code-link" disabled>
            <span id="qr-code" class="qr"></span>
        </a>

        <p class="mt-4" id="include-groups">{{ 'setup.qr_code.include'|trans }}</p>
        <div class="slot slot--2">
            {{ forms.switch({
                node: 'div',
                label: 'setup.qr_code.travellers'|trans,
                name: 'include-travellers',
                id: 'include-travellers',
                checked: true,
                attributes: {
                    'aria-describedby': 'include-groups'
                }
            }) }}
            {{ forms.switch({
                node: 'div',
                label: 'setup.qr_code.fabled'|trans,
                name: 'include-fabled',
                id: 'include-fabled',
                checked: true,
                attributes: {
                    'aria-describedby': 'include-groups'
                }
            }) }}
        </div>
    {% endblock %}
{% endembed %}

{% embed 'includes/dialog.html.twig' with {
    id: 'clear-cache',
    background: 'blur',
    title: 'setup.clear_cache.title'|trans
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}
        <form id="cache-form">

            <p>
                {{ forms.switch({
                    label: 'setup.clear_cache.clear_all'|trans,
                    name: 'clear-all',
                    id: 'clear-all',
                    checked: true
                }) }}
                <small class="d-block">{{ 'setup.clear_cache.clear_description'|trans }}</small>
            </p>

            <ul id="clear-individual" class="no-list mb-4 p-2 bd-dark" hidden>
                {% set clears = [
                    {
                        value: 'lookup',
                        label: 'setup.clear_cache.lookup_label'|trans,
                        note: 'setup.clear_cache.lookup_note'|trans
                    },
                    {
                        value: 'characters',
                        label: 'setup.clear_cache.characters_label'|trans,
                        note: 'setup.clear_cache.characters_note'|trans
                    },
                    {
                        value: 'tokens',
                        label: 'setup.clear_cache.tokens_label'|trans,
                        note: 'setup.clear_cache.tokens_note'|trans
                    },
                    {
                        value: 'inputs',
                        label: 'setup.clear_cache.inputs_label'|trans,
                        note: 'setup.clear_cache.inputs_note'|trans
                    },
                    {
                        value: 'details',
                        label: 'setup.clear_cache.details_label'|trans,
                        note: 'setup.clear_cache.details_note'|trans
                    },
                    {
                        value: 'infoTokens',
                        label: 'setup.clear_cache.info_tokens_label'|trans,
                        note: 'setup.clear_cache.info_tokens_note'|trans
                    },
                    {
                        value: 'names',
                        label: 'setup.clear_cache.names_label'|trans,
                        note: 'setup.clear_cache.names_note'|trans
                    },
                    {
                        value: 'height',
                        label: 'setup.clear_cache.height_label'|trans,
                        note: 'setup.clear_cache.height_note'|trans
                    },
                ] %}
                {% for clear in clears %}
                    <li>
                        {{ forms.switch({
                            node: 'div',
                            label: clear.label,
                            name: 'clear',
                            id: 'clear-' ~ clear.value,
                            value: clear.value,
                            checked: true
                        }) }}
                        <small class="d-block">{{ clear.note }}</small>
                    </li>
                {% endfor %}
            </ul>

            <p>
                {{ forms.switch({
                    label: 'setup.clear_cache.clear_refresh_label'|trans,
                    name: 'clear-refresh',
                    id: 'clear-refresh',
                    checked: true
                }) }}
                <small class="d-block">{{ 'setup.clear_cache.clear_refresh_note'|trans }}</small>
            </p>

            <p id="token-warning"><small>{{ 'setup.clear_cache.warning'|trans|raw }}</small></p>
            <p id="info-token-warning"><small>{{ 'setup.clear_cache.info_token_warning'|trans|raw }}</small></p>
            <p><button type="submit" class="button">{{ 'setup.clear_cache.clear_cache'|trans }}</button></p>

        </form>
    {% endblock %}
{% endembed %}
