{% extends "base.html.twig" %}

{% block title %}{{ 'index.title'|trans }}{% endblock %}
{% set meta_description = 'index.description'|trans %}

{% block styles %}{{ encore_entry_link_tags('css/main') }}{% endblock %}

{% set body_class = 'body-grimoire' %}

{% block body %}

<h1 class="title">{{ 'title'|trans }}</h1>

{% include 'partials/setup.html.twig' %}
{% include 'partials/grimoire.html.twig' %}
{% include 'partials/jinxes.html.twig' %}
{% include 'partials/night-order.html.twig' %}
{% include 'partials/info-tokens.html.twig' %}
{% include 'partials/notes.html.twig' %}
{% include 'partials/acknowledgements.html.twig' %}

{% endblock %}

{% block javascript %}
{% set version = hash(4) %}
<script>
var URLS = {
    characters: "{{ path('data_characters', { version: version })|e('js') }}",
    jinxes: "{{ path('data_jinx', { version: version })|e('js') }}",
    game: "{{ path('data_game')|e('js') }}",
    homebrew: "{{ path('homebrew')|e('js') }}"
};

var I18N = {
    goodTeam: "{{ 'messages.good_team'|trans|e('js') }}",
    evilTeam: "{{ 'messages.evil_team'|trans|e('js') }}",
    emptyCharacterAbility: "{{ 'messages.empty_character_ability'|trans|e('js') }}",
    versionChange: "{{ 'messages.version_change_message'|trans|e('js') }}",
    invalidScript: "{{ 'messages.invalid_script'|trans|e('js') }}",
    noCharacters: "{{ 'messages.no_characters'|trans|e('js') }}",
    customInfoToken: "{{ 'messages.custom_info_token'|trans|e('js') }}",
    bagDisabled: "{{ 'messages.bag_disabled'|trans|e('js') }}",
};

var ENVIRONMENT = "{{ app.environment|e('js') }}";
</script>
{{ encore_entry_script_tags('js/main') }}
{% endblock %}
